<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.repository.GuitarCategoriesRepository">

    <insert id="insertGuitarCategory" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO guitar_categories (name)
    VALUES (#{name})
    </insert>

    <select id="selectAll" resultType="com.example.backend.model.Category">
        SELECT * FROM guitar_categories
    </select>

    <select id="findByName" parameterType="string" resultType="com.example.backend.model.Category">
        SELECT * FROM guitar_categories WHERE name = #{name}
    </select>

    <select id="findBySubtypeId" parameterType="int" resultType="com.example.backend.model.Category">
        SELECT * from guitar_categories WHERE id = (
            SELECT category_id FROM guitar_subtypes WHERE id = #{subtype_id})
    </select>

</mapper>