<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.repository.GuitarRepository">

    <!-- name 과 brand 로 기타를 찾는 쿼리 -->
    <select id="findByNameAndBrand" resultType="com.example.backend.model.Guitar">
        SELECT *
        FROM guitar
        WHERE name = #{name} AND brand = #{brand}
    </select>

    <insert id="insertGuitar" keyProperty="id">
        INSERT INTO guitar (name, subtype_id, brand, price, image_url, description, stock)
        VALUES (#{name}, #{subtype_id}, #{brand}, #{price}, #{image_url}, #{description}, #{stock})
    </insert>

    <select id="getGuitarById" resultType="com.example.backend.dto.GuitarDto">
        SELECT *
        FROM guitar
        WHERE id = #{id};
    </select>

    <select id="getGuitarAll" resultType="com.example.backend.dto.GuitarDto">
        SELECT *
        FROM guitar;
    </select>

    <select id="getGuitarByCategoryName" resultType="com.example.backend.dto.GuitarDto">
        SELECT g.*
        FROM guitar g
        JOIN guitar_subtypes gs ON g.subtype_id = gs.id
        JOIN guitar_categories gc ON gs.category_id = gc.id
        WHERE gc.name = #{category_name};
    </select>

    <select id="getGuitarBySubtypeId" resultType="com.example.backend.dto.GuitarDto">
        SELECT *
        FROM guitar
        WHERE subtype_id = #{subtype_id}
    </select>

</mapper>